body {
  background: #0d0d0d;
  color: #f9fafb;
}

nav {
  border-bottom: #f2e205 2px solid;
}

.hero-element {
  flex: 1;
}

@tailwind base;
@tailwind components;

.container {
  @apply w-10/12 mx-auto;
}

@tailwind utilities;
